<!DOCTYPE html>
<html>
  <head>

    <title>MMDx: File to test functions rapidly</title>


    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="javascripts/jQDateRangeSlider-min.js"></script>
    <link rel="stylesheet" href="stylesheets/iThing-min.css">

    <link rel="stylesheet" href="stylesheets/style.css">
    <script type ="text/javascript" src="javascripts/index.js"></script>


    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.7.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.7.0/mapbox-gl.css' rel='stylesheet' />

  </head>


  <body>
    <div class="page-header">
      <h1> Results of MMDx <small>in progress</small></h1>
    </div>

    <div class="container-fluid">
      <div id="Map components" class="row">
        <div id='map' class="col-md-9"></div>
        <div id="contollerBar" class="col-md-3">
          <div class="panel panel-default">
           <div class="panel-heading">
              <h4>Filter parameters</h4>
           </div>
           <div class="panel-body">
              <form id="filters">
              <h5>Disease type: </h5>
              <div class="checkbox">
                <label>
                  <input id = "dengueRadio" type="checkbox" value="Dengue">
                  Dengue
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input id = "ebolaRadio" type="checkbox" value="Ebola">  
                  Ebola    
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id = "malariaRadio" type="checkbox" value="Malaria">
                  Malaria      
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id = "tuberculosisRadio" type="checkbox" value="Tuberculosis">
                  Tuberculosis     
                </label>
              </div>
              <hr>
              <h5>Date: </h5>
              <div id="slider"></div>
              <button type="submit" class="btn btn-primary">Filter</button>
              </form>
           </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Printout of query results -->
    <div id="queryThings">
    <h1>Here are the results of the query from the database</h1>
    <ul>
    <% for(var i=0; i<results.length; i++) {%>
      <li>
        <p><%= results[i].get('lat') %></p>
        <p><%= results[i].get('lng') %></p>
        <p><%= results[i].get('diagnosis') %></p>
        <p> next one: </p>
      </li>
    <% } %>
    </ul>
    </div>

  </body>
</html>