<!DOCTYPE html>
<html>
  <head>

    <title>MMDx: File to test functions rapidly</title>

    <style>
      #map2 {
        min-width:900px;
        max-width: 1050px;
        min-height: 580px;
        width:auto;
        height:auto;
      }

      #contollerBar{
        float:left; 
        min-width:300px; 
        height:580px; 
        padding-right:20px;
        padding-left:20px;
        background-color: #dcdcdc;

      }

     #map-canvas { width:1050px; height:600px; }

    </style>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  </head>

  <body>

    <!-- MapBox Approach -->
    <h1> Mapbox approach: In progress</h1>
    <div id="Map components" style="display:in-block">
      <div id="contollerBar">
        <!-- Put controls here -->
        <p> Tweak things here to display</p>
      </div>
      <div id='map2'></div>
      <script>
      L.mapbox.accessToken = 'pk.eyJ1IjoibW1keGFwcCIsImEiOiJwY0Q4MHZ3In0.pM9yzFoRKpkXcm8T8rh1QQ';
      var map = L.mapbox.map('map2', 'mmdxapp.58a3a46d', {
        // These options apply to the tile layer in the map.
        tileLayer: {
        // This map option disables world wrapping. by default, it is false.
          continuousWorld: false,
        // This option disables loading tiles outside of the world bounds.
          noWrap: true
        }
      }).setView([11.109315, 22.000575], 2);
      </script>
    </div> </br>

    <!-- Printout of query results -->
    <div id="queryThings">
    <h1>Here are the results of the query from the database</h1>
    <ul>
    <% for(var i=0; i<results.length; i++) {%>
      <li>
        <p><%= results[i].get('lat') %></p>
        <p><%= results[i].get('lng') %></p>
        <p><%= results[i].get('diagnosis') %></p>
        <p> next one: </p>
      </li>
    <% } %>
    </ul>
    </div>

  </body>
</html>