<!DOCTYPE html>
<html>
  <head>
    <title>MMDx: Rapid Diagnostics</title>

    <style>
      #map-canvas {
        width: 1000px;
        height: 600px;
      }

      #contollerBar{
        float:left; 
        min-width:300px; 
        height:580px; 
        padding-top:20px;
        padding-right:20px;
        padding-left:20px;
        background-color: #dcdcdc;

      }

    </style>

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(11.109315, 22.000575),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
      };
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

  </head>

  <body>
    <div id="Map components">
      <div id="contollerBar">
        <!-- Put controls here -->
        <p> Tweak things here to display</p>
      </div>
      <div id="map-canvas"></div>
    </div>

    <div id="queryThings">
          <h1>Hello, here are the results from the database</h1>
    
    <ul>
    <% for(var i=0; i<results.length; i++) {%>
      <li>
        <p><%= results[i].get('lat') %></p>
        <p><%= results[i].get('lng') %></p>
        <p><%= results[i].get('diagnosis') %></p>
        <p> next one: </p>
      </li>
    <% } %>
    </ul>

    </div>

  </body>
</html>