
<!DOCTYPE html>
<html>
  <head>
    <title>MMDx: Rapid Diagnostics</title>
  </head>
  <body>
    <h1>Results: </h1>
    <p> Lat: <%= lat %></p>
    <p> Lng: <%= lng %></p>
    <p> Diagnosis: <%= diagnosis %></p>
  </body>
</html>
